.wrapper {
    display: d-flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: blue;
    margin-top: 50px;
    min-height: 1000px;
}

.content {
    flex: 1;
}